@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;

}

/*Pagina Index*/

.compraVenta{
    width: 100wh;
    height: 100vh;
    overflow: hidden;
    position: relative;
    border-radius: 20px;
    margin: 1px auto;
    box-shadow: 5px 8px 12px black;
    min-height: 100vh;
}
.compraVenta img{
    width: 100%;
    height: 100vh;
}


.compraVenta h1{
    font-size: 3.8rem;
    color: white;
    position: absolute;
    top: 15%;
    left: 25%;
    transform: translate(-10%, -55%);
    text-shadow: 0 0 8px rgba(0, 0, 0,0.8);
    letter-spacing: 2px;
    word-spacing: 2px;
}

.botonOperacion{
    position: absolute;
    top: 85%;
    left:42%; 
    font-size: 1.5rem;
    border-radius: 20px;
    padding: 10px 15px;
    border: none;
    outline: none;
    cursor: pointer;
    background-color:rgb(219, 115, 133);
    transition: 0.7s;
}

button:hover{
    color: white;
}

/* Pagina compraVenta */

.contenedorInput{
    width: 750px;
    background: pink;
    padding: 30px;
    margin: auto;
    margin-top: 30px;
    position: absolute;
    top:0%;
    left: 23%;
    height: 90%;
}
.estilosInput{
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid;
}

.btnSucursales{
    position: relative;
    font-size: 0.8rem;
    border-radius: 20px;
    padding: 10px 15px;
    border: none;
    outline: none;
    cursor: pointer;
    background-color:rgb(219, 115, 133);
    transition: 0.7s;
    left: 70%;
    bottom:90px;
    letter-spacing: 1px;
    text-decoration-line: none;
    text-decoration: none;
    color: black;
}


.botonFinalizar{
    position: relative;
    font-size: 1.1rem;
    border-radius: 20px;
    padding: 10px 15px;
    border: none;
    outline: none;
    cursor: pointer;
    background-color:rgb(219, 115, 133);
    transition: 0.7s;
    left: 32%;
    margin-top: 20px;
    letter-spacing: 1px;
    text-decoration-line: none;
}

.btnRegresar{
    position: relative;
    font-size: 1.0rem;
    border-radius: 20px;
    padding: 10px 15px;
    border: none;
    outline: none;
    cursor: pointer;
    background-color:rgb(219, 115, 133);
    transition: 0.7s;
    left: 40%;
    margin-top: 20px;
    letter-spacing: 1px;
    text-decoration: none;
    color: black

};

.contenedor-info{
    width: 100%;
    height: auto;
}
.contenedor-info .mostrar-info{
    padding: 25px;
    margin: 15px;
    text-align: center;
    font-size: 1.4rem;
    overflow: hidden;
    font-family:'Courier New', Courier, monospace;
    line-height: 1.2;

}

.json-active{
    background-color: whitesmoke;
    width: 100%;
    display: flex;
    justify-content:space-around;
    gap: 50px;
    margin-top: 30px;
    margin-bottom: 30px;
    background-color:antiquewhite;
    height: auto

}
.json h3{
    font-size: 1.2rem;

}

.json div{
    outline: 2px solid rosybrown;
    padding: 20px;
    margin: 5px;
    text-align: center;
    background-color:pink;
}

/*Media Query Index*/

@media(max-width:992px){
    
    .botonOperacion{
        font-size: 1.0 rem
    }
    .compraVenta h1{
        font-size: 2.2rem
    }   
}

@media(max-width:768px){
    .compraVenta h1{
        font-size: 1.4rem;
        left: 30%;
    }
    .botonOperacion{
        font-size: 0.8 rem
    }
}

@media(max-width:576px){
    .compraVenta h1{
        font-size: 1rem;
        left: 30%;
    }
}



/*Media Query compraVenta*/
@media(max-width:1100px){
    .contenedorInput{
        width: 650px;
        margin-top: 15px;
        left: 19%;
        
    }
    .estilosLabel{
        font-size: 1.0rem;
    }
    .estilosInput{
        font-size: 0.5rem;
    }
    .btnSucursales{
        font-size: 0.8rem;
        left: 5%;
    }

}


@media(max-width:992px){
    
    .contenedorInput{
        width: 550px;
        margin-top: 20px;
        left: 19%;

    }

    .estilosLabel{
        font-size: 0.8rem;
    }
    .estilosInput{
        font-size: 0.3rem;
    }

    .btnSucursales{
        font-size: 1.0rem;
        position: absolute;
        margin-top: 50px;
        margin-left: 280px;

    }

    .botonFinalizar{
        font-size: 1.0rem;
        margin-top: 25px;
        left: 10%;        
    }
}

    @media(max-width:768px){

        .contenedorInput{
            width: 470px;
            margin-top: 10px;
            left: 15%;
    
        }
    
        .estilosLabel{
            font-size: 0.7rem;
        }
        .estilosInput{
            font-size: 0.4rem;
        }
    
        .btnSucursales{
            font-size: 0.7rem;
            position: absolute;
            margin-top: 50px;
            margin-left: 300px;
            margin: 0;
            padding: 7px 12px;
    
        }
    
        .botonFinalizar{
            font-size: 0.7rem;
            margin-top: 25px;
            left: 10%;        
        }
    }

    @media(max-width:576px){

        .contenedorInput{
            width: 300px;
            margin-top: 10px;
            left: 15%;
    
        }
    
        .estilosLabel{
            font-size: 0.6rem;
        }
        .estilosInput{
            font-size: 0.1rem;
        }

        .saltoLinea{
            display: none;

        }
    
        .btnSucursales{
            font-size: 0.6rem;
            position: relative;
            margin-top: 50px;
            margin: 0;
            padding: 5px 10px;
    
        }
    
        .botonFinalizar{
            font-size: 0.9rem;
            margin-top: 25px;
            left: 10%;        
            padding: 5px 10px;
        }
    }






