@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;

}

/*Pagina Index*/

.compraVenta{
    width: 100wh;
    height: 100vh;
    overflow: hidden;
    position: relative;
    border-radius: 20px;
    margin: 1px auto;
    box-shadow: 5px 8px 12px black;
    min-height: 100vh;
}
.compraVenta img{
    width: 100%;
    height: 100vh;
}


.compraVenta h1{
    font-size: 3.8rem;
    color: white;
    position: absolute;
    top: 15%;
    left: 25%;
    transform: translate(-10%, -55%);
    text-shadow: 0 0 8px rgba(0, 0, 0,0.8);
    letter-spacing: 2px;
    word-spacing: 2px;
}

.botonOperacion{
    position: absolute;
    top: 85%;
    left:42%; 
    font-size: 1.5rem;
    border-radius: 20px;
    padding: 10px 15px;
    border: none;
    outline: none;
    cursor: pointer;
    background-color:rgb(219, 115, 133);
    transition: 0.7s;
}

button:hover{
    color: white;
}

/* Pagina compraVenta */

input{
font-weight: 600;
}

.contenedorInput{
    width: 850px;
    background: pink;
    padding: 20px;
    margin: auto;
    margin-top: 20px;
    position: absolute;
    top:0%;
    left: 17%;
    height: auto;
    overflow: hidden;
    word-wrap: break-word;
}
.estilosInput{
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid;
    font-size: 0.9rem;
    letter-spacing: 1px;
}

.estilosLabel{
    font-size: 1.0rem;
    letter-spacing: 1px;
}

.btnSucursales{
    position: relative;
    font-size: 0.8rem;
    border-radius: 20px;
    padding: 10px 15px;
    border: none;
    outline: none;
    cursor: pointer;
    background-color:rgb(219, 115, 133);
    transition: 0.7s;
    left: 70%;
    bottom:100px;
    letter-spacing: 1px;
    text-decoration-line: none;
    text-decoration: none;
    color: black;
}


.botonFinalizar{
    position: relative;
    font-size: 1.1rem;
    border-radius: 20px;
    padding: 10px 15px;
    border: none;
    outline: none;
    cursor: pointer;
    background-color:rgb(219, 115, 133);
    transition: 0.7s;
    left: 32%;
    margin-top: 20px;
    letter-spacing: 1px;
    text-decoration-line: none;
}

.btnRegresar{
    position: relative;
    font-size: 1.1rem;
    border-radius: 20px;
    padding: 10px 15px;
    border: none;
    outline: none;
    cursor: pointer;
    background-color:rgb(219, 115, 133);
    transition: 0.7s;
    left: 40%;
    margin-top: 20px;
    letter-spacing: 1px;
    text-decoration: none;
    color: black

};

.contenedor-info{
    width: 100%;
    height: auto;
}
.contenedor-info .mostrar-info{
    padding: 25px;
    margin: 15px;
    text-align: center;
    font-size: 1.5rem;
    overflow: hidden;
    font-family:'Courier New', Courier, monospace;
    line-height: 1.2;

}

.json-active{
    width: 100%;
    display: flex;
    justify-content:space-evenly;
    margin-top: 20px;
    margin-bottom: 10px;
    background-color:whitesmoke;
    height:auto;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;

}
.json h3{
    font-size: 1.5rem;
    letter-spacing: 2px;
}

.json p{
    font-size: 1.2rem;
    letter-spacing: 2px;
}

.json div{
    outline: 2px solid rosybrown;
    padding: 20px;
    margin: 5px;
    text-align: center;
    background-color:pink;
    flex-grow: 5;
}

/*Media Query Index*/
@media(max-width:1220px){

.botonOperacion{
    font-size: 1.7rem;
    left: 40%;
    }
.compraVenta h1{
    font-size: 3.2rem
    }   
}

@media(max-width:992px){
    
.botonOperacion{
    font-size: 1.3rem;
    }
.compraVenta h1{
    font-size: 2.5rem
    }   
}

@media(max-width:768px){
.compraVenta h1{
    font-size: 1.4rem;
    left: 30%;
    }
    .botonOperacion{
    font-size: 1.0rem;
    left: 35%;
    }
}

@media(max-width:576px){
.compraVenta h1{
    font-size: 1.2rem;
    left: 30%;
}
.botonOperacion{
    font-size: 1.0rem;
    left: 35%;
}
}



/*Media Query compraVenta*/
@media(max-width:1100px){
    
.contenedorInput{
    width: 750px;
    margin-top: 20px;
    left: 19%;
}
.estilosLabel{
    font-size: 1.3rem;
    letter-spacing: 0px;

}
.estilosInput{
    font-size: 0.9rem;
    letter-spacing: 0px;
}
.btnSucursales{
    font-size: 0.9rem;
    left: 70%;
}
.botonFinalizar{
    font-size: 1.1rem;
}

}


@media(max-width:992px){
    
.contenedorInput{
    width: 650px;
    margin-top: 50px;
    left: 15%;

}

.estilosLabel{
    font-size: 1.0rem;
    letter-spacing: 0px;
}
.estilosInput{
    font-size: 0.9rem;
    letter-spacing: 0px;
}

.btnSucursales{
    font-size: 0.9rem;
    left: 68%;
}

.botonFinalizar{
    font-size: 1.0rem;
    left: 30%; 
}

.contenedor-info .mostrar-info{
    padding: 15px;
    margin: 5px;
    text-align: center;
    font-size: 1.3rem;
    overflow: hidden;
}


}

@media(max-width:768px){

.contenedorInput{
    width: 510px;
    margin-top: 20px;
    left: 12%;
}

.estilosLabel{
    font-size: 0.9rem;
    letter-spacing: 0px;
}
.estilosInput{
    font-size: 0.8rem;
    letter-spacing: 0px;
}

.btnSucursales{
    font-size: 0.8rem;
    padding: 7px 12px;
    left: 32%;    
}
    
.botonFinalizar{
    font-size: 1.1rem;
    margin-top: 70px;
    left: 27%;        
}

.contenedor-info .mostrar-info{
    padding: 15px;
    margin: 5px;
    text-align: center;
    font-size: 1.2rem;
    overflow: hidden;
}
.btnRegresar{
    position: relative;
    font-size: 0.7rem;
    left: 35%;
}    
}

@media(max-width:576px){

.contenedorInput{
    width: 400px;
    margin-top: 50px;
    left: 10%;
    
}
    
.estilosLabel{
    font-size: 0.8rem;
    letter-spacing: 0px;
}
.estilosInput{
    font-size: 0.7rem;
    letter-spacing: 0px;
}

.saltoLinea{
    display: none;
}

.json div img{
    width: 300px;
    height: 200px;
}

    
.btnSucursales{
    font-size: 0.8rem;
    margin-top: 30px;
    padding: 5px 10px;
    left: 25%;
    margin-top: 40px;
    
}
    
.botonFinalizar{
    font-size: 1.0rem;
    margin-top: 90px;
    left: 22%;        
    padding: 5px 10px;
}
        
.contenedor-info .mostrar-info{
        padding: 15px;
        margin: 5px;
        text-align: center;
        font-size: 1.0rem;
        overflow: hidden;
        }
.btnRegresar{
    position: relative;
    font-size: 0.7rem;
    left: 35%;
};    
}

@media(max-width:420px){
.contenedorInput{
    width:340px;
    left: 5%;
}
.btnSucursales{
    font-size: 0.7rem;
    margin-top: 0px;
    padding: 5px 10px;
    left: 25%;
    margin-top: 40px;
}

.botonFinalizar{
    font-size: 0.8rem;
    margin-top: 95px;
    left: 22%;        
    padding: 5px 10px;
}
.estilosLabel{
    font-size: 0.7rem;
    letter-spacing: 0px;
}
.estilosInput{
    font-size: 0.7rem;
    letter-spacing: 0px;
}
.json div img{
    width: 250px;
    height: 150px;
}
.json h3{
    font-size: 1.0rem;
    letter-spacing: 1px;
}

.json p{
    font-size: 1.0rem;
    letter-spacing: 1px;
}

}






